<h2 class="text-center">Bidding System</h2>
<h3>Features</h3>
<div class="container cf">
    <div>
        <ul>
            <li>* Incremental bidding</li>
            <li>* Auto-bidding – bidders can set a maximum bid and leave the system to bid on their behalf</li>
            <li>* Buy Now bidding – an instant purchase can be made. This can be connected to a payment system and purchase made on line immediately</li>
        </ul>
    </div>
</div>

<div class="text-center">
    <small>Images courtesy of <a target="_blank" href="http://unsplash.com">unsplash.com</a></small>
</div>

